*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
RoomEscape/Content/StarterContent/


*.db
RoomEscape/.vs/RoomEscape/v15/Solution.VC.db-wal
RoomEscape/.vs/RoomEscape/v15/Solution.VC.db-shm
*.ipch
*.suo
