*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
RoomEscape/Content/StarterContent/Audio
RoomEscape/Content/StarterContent/Textures
RoomEscape/Content/StarterContent/HDRI
RoomEscape/Content/StarterContent/Maps

*.db
RoomEscape/.vs/RoomEscape/v15/Solution.VC.db-wal
RoomEscape/.vs/RoomEscape/v15/Solution.VC.db-shm
*.ipch
*.suo
*.VC.opendb
*.sln